<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="edit" method="post" th:object="${product}">
    <label hidden>ID</label>
    <input hidden type="text" name="id" th:field="*{id}"/><br>
    <label>Name</label>
    <input type="text" name="name" th:field="*{name}"/><br>
    <label>Price</label>
    <input type="text" name="price" th:field="*{price}"/><br>
    <label>Describe</label>
    <input type="text" name="describe" th:field="*{describe}"/><br>
    <label>Producer</label>
    <input type="text" name="producer" th:field="*{producer}"/><br>
    <button type="submit">Update</button>
</form>
</body>
</html>